/* +------------------------------------------------------------+ */
/* | General XHTML Elements                                     | */
/* +------------------------------------------------------------+ */

body {
    color: #555555;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    margin: 0px;
}

a {
    color: #006699;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

p {
    margin: 5px 0px 7px 0px;
}

sup {
    display: inline;
    padding: 0px;
    vertical-align: super;
    font-size: 8px;
}

a:hover {
    color: #555555;
}

legend {
    display: none;
}


label {
    display: none;
}

fieldset {
    border: none;
    padding: 4px 0px 4px 5px;
}

fieldset p {
    display: block;
    margin: 5px 5px 5px 2px;
}

form {
    margin: 0px 0px 5px 0px;
}

img {
    border: none;
}

li {
    padding-bottom: 5px;
}

/* +------------------------------------------------------------+ */
/* | General XHTML Classes                                      | */
/* +------------------------------------------------------------+ */

.center {
    text-align: center;
}

.inlinecenter {
    text-align: center;
}

p.inline {
    display: inline;
    padding: 0px;
}

.strong {
    font-weight: bold;
}

.big {
    font-weight: bold;
    font-size: 16px;
}

.hidden {
    display: none;
}

a.unfancy {
    color: #006699;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

/* +------------------------------------------------------------+ */
/* | Skin Specific Divs                                         | */
/* +------------------------------------------------------------+ */

#skin_wrapper {
    width: 900px;
    padding: 0px;
    margin: auto;
}

#skin_wrapper_full {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url('../media/header.png');
    background-repeat: repeat-x;
    background-position:  top left;
}

#skin_ct {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

#skin_ct_lcol_head {
    padding: 10px;
    margin: 0px;
    width: 160px;
    height: 80px;
}

#skin_ct_rcol_head {
    padding: 10px;
    margin: 0px;
    height: 80px;
    text-align: right;
}

#skin_ct_lcol {
    padding: 20px 10px 10px 10px;
    margin: 0px;
    vertical-align: top;
    width: 160px;
    text-align: left;
}

#skin_ct_mcol {
    padding: 20px 10px 10px 10px;
    margin: 0px;
    vertical-align: top;
    line-height: 150%;
}

#skin_ct_rcol {
    padding: 20px 10px 10px 10px;
    margin: 0px;
    vertical-align: top;
    width: 160px;
}

#skin_footer {
    color: #FFFFFF;
    background-color: #006699;
    padding: 50px 10px 10px 10px;
    margin: 0px;
    text-align: center;
    background-image: url('../media/footer.png');
    background-repeat: repeat-x;
    background-position:  top left;
}

#skin_pgtitle {
    font-size: 16px;
    padding: 0px 0px 4px 0px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    border-bottom: 1px solid #999999;
}

#skin_content {
    margin: auto;
}

/* +------------------------------------------------------------+ */
/* | Skin Specific Classes                                      | */
/* +------------------------------------------------------------+ */

.skin_fenavh {
    color: #59A325;
    padding: 3px 0px 5px 0px;
    margin: 0px;
    border-bottom: 1px dotted #999999;
    font-weight: bold;
    font-size: 14px;
}

.skin_fenav ul {
    padding: 0px;
    margin: 0px 0px 10px 0px;
    list-style: none;
}

.skin_fenav ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.skin_fenav ul li a {
    color: #333333;
    font-weight: normal;
    display: block;
    text-decoration: none;
    padding: 6px 5px 6px 14px;
    background-image: url('../media/menu_bullet.png');
    background-repeat: no-repeat;
    background-position:  center left;
    border-bottom: 1px dotted #999999;
}

.skin_fenav ul li a:hover {
    color: #333333;
    background-color: #DDDDDD;
    text-decoration: none;
}

.skin_headacct {
    width: 100%;
    text-align: right;
    clear: both;
}

.skin_fenavmini {
    padding: 7px;
    margin: 0px 0px 10px 0px;
    border-left: 1px dotted #999999;
    border-right: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
}

#skin_menu_head ul {
    padding: 0px 0px 4px 0px;
    margin: 0px 0px 4px 0px;
    list-style: none;
    border-bottom: 1px solid #ABABAB;
}

#skin_menu_head li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline;
}

#skin_menu_head ul li a {
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 10px;
    background-image: url('../media/menu_arrow.png');
    background-repeat: no-repeat;
    background-position: center left;
}

#skin_menu_head ul li a:hover {
    text-decoration: underline;
}

#skin_headacct {
    color: #ABABAB;
}

#skin_headacct a {
    color: #FFFFFF;
    text-decoration: none;
}

#skin_headacct a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/* +------------------------------------------------------------+ */
/* | System Required Divs                                       | */
/* +------------------------------------------------------------+ */

#debug {
    color: #555555;
    background-color: #FFFFFF;
    border-top: 1px solid #999999;
    overflow: hidden;
    padding: 10px;
    margin: 0px auto 10px auto;
}

#printable {
    padding: 10px;
    margin: auto;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Messages                          | */
/* +------------------------------------------------------------+ */

.error {
    color: #FF0000;
    font-weight: bold;
}

.confirm {
    color: #339933;
    font-weight: bold;
}

.imgfloatrt {
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline;
}

.inline {
    display: inline;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Form Fields                       | */
/* +------------------------------------------------------------+ */

.formfieldrelwrap {
    overflow: auto;
    width: 550px;
    height: 90px;
    border: 1px solid #555555;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.formfieldwysiwyg {
    background-color: #FFFFFF;
    border: 1px solid #555555;
    margin: 5px 5px 0px 2px;
    font-size: 11px;
}

.formfieldwysiwyg:hover {
    background-color: #F5F5F5;
}

.formfieldradcb {
    color: inherit;
    background-color: inherit;
}

.formfield {
    background-color: #FFFFFF;
    border: 1px solid #555555;
    margin: 5px 5px 0px 2px;
    font-size: 11px;
}

.formfield:hover {
    background-color: #F5F5F5;
}

.formfieldp {
    display: block;
    padding: 0px;
    margin: 0px 0px 2px 2px;
}

.formfieldpnfs {
    display: block;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 5px 0px;
}

.formfielda {
    display: block;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 2px 0px;
}

.formbutton {
    color: #555555;
    background-color: #DEDEDE;
    padding: 1px;
    margin: 0px 0px 5px 0px;
    font-size: 11px;
    width: 130px;
    border: 1px solid #555555;
}

.formbutton:hover {
    color: #555555;
    background-color: #EBF1FF;
}

.quickbutton {
    color: #555555;
    background-color: #DEDEDE;
    padding: 1px;
    margin: 0px;
    font-size: 11px;
    width: 130px;
    border: 1px solid #555555;
}

.quickbutton:hover {
    color: #555555;
    background-color: #EBF1FF;
}

.quickform {
    margin: 5px 0px 0px 0px;
}

.quickfield {
    background-color: #FFFFFF;
    border: 1px solid #555555;
    font-size: 11px;
    margin: 1px 0px 0px 0px;
}

.quickfield:hover {
    background-color: #EFEFEF;
}

.formfieldleg {
    font-weight: bold;
}

.formfieldleg_rnc {
    font-weight: bold;
    color: #FF0000;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Form Table Displays               | */
/* +------------------------------------------------------------+ */

.formsecthead {
    color: #59A325;
    margin: 5px 0px 10px 0px;
    padding: 4px 5px 4px 0px;
    border-bottom: 1px solid #999999;
    font-weight: bold;
    font-size: 14px;
}

table.formtable {
    margin: 0px 0px 10px 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

table.formtable td {
    padding: 4px 2px 4px 2px;
    vertical-align: top;
    border-bottom: 1px solid #DEDEDE;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Sort Table Displays               | */
/* +------------------------------------------------------------+ */

table.sorttable {
    margin: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

th.sorttable {
    padding: 4px 5px 4px 5px;
    border-bottom: 1px solid #DEDEDE;
    vertical-align: top;
    font-weight: bold;
}

td.sorttable {
    padding: 4px 5px 4px 5px;
    border-bottom: 1px solid #DEDEDE;
    vertical-align: top;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Regular Table Displays            | */
/* +------------------------------------------------------------+ */

.regtablehead {
    color: #59A325;
    margin: 5px 0px 10px 0px;
    padding: 4px 5px 4px 0px;
    border-bottom: 1px solid #999999;
    font-weight: bold;
    clear: both;
    font-size: 14px;
}

table.regtable {
    margin: 0px 0px 10px 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

td.regtable {
    padding: 4px 2px 4px 2px;
    vertical-align: top;
    border-bottom: 1px solid #DEDEDE;
}

.regtable p {
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Ghost Table Displays              | */
/* +------------------------------------------------------------+ */

table.ghost {
    margin: 0px;
    padding: 0px;
    border-spacing: 3px;
    border-collapse: collapse;
    width: 100%;
}

td.ghost {
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

.ghost form {
    display: inline;
}

td.ghost img {
    margin-right: 10px;
    margin-bottom: 10px;
}

td.ghost p {
    margin: 0px 0px 6px 0px;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Boxed Paragraphs                  | */
/* +------------------------------------------------------------+ */

p.ultablesp {
    margin: 0px;
    font-size: 1px;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Online Store Displays             | */
/* +------------------------------------------------------------+ */

.storehead {
    color: #59A325;
    margin: 5px 0px 10px 0px;
    padding: 4px 5px 4px 0px;
    border-bottom: 1px solid #999999;
    font-weight: bold;
    clear: both;
    font-size: 14px;
}

.storelink {
    margin: 5px 0px 10px 0px;
    padding: 4px 5px 4px 5px;
    border: 1px dotted #999999;
}

.storelink p {
    margin: 0px;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Category List Display Tables      | */
/* +------------------------------------------------------------+ */

table.cptbl_cat {
    margin: 0px 0px 10px 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

td.cptbl_cat {
    padding: 5px 0px 0px 0px;
    vertical-align: top;
    border-bottom: 1px solid #DEDEDE;
}

td.cptbl_cat a {
    font-weight: bold;
}

td.cptbl_cat_blank {
    display: none;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Product List Display Tables       | */
/* +------------------------------------------------------------+ */

table.cptbl_prod {
    margin: 0px 0px 10px 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

td.cptbl_prod {
    padding: 5px 0px 0px 0px;
    vertical-align: top;
    border-bottom: 1px solid #DEDEDE;
}

td.cptbl_prod a {
    font-weight: bold;
}

td.cptbl_prod_blank {
    display: none;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Product Detail Display Tables     | */
/* +------------------------------------------------------------+ */

table.cptbl_det {
    margin: 0px 0px 10px 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

td.cptbl_det {
    padding: 5px 0px 0px 0px;
    vertical-align: top;
}

td.cptbl_det_blank {
    display: none;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Price Displays                    | */
/* +------------------------------------------------------------+ */

.pricediv {
    margin: 5px 0px 7px 0px;
}

.price {
    color: #FC8E2F;
    font-weight: bold;
    display: inline;
}

.pricex {
    color: #FF0000;
    font-weight: bold;
    display: inline;
    text-decoration: line-through;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Shopping Cart Displays            | */
/* +------------------------------------------------------------+ */

.cartbutton {
    color: #555555;
    background-color: #DEDEDE;
    padding: 1px;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    display: block;
    margin: 0px 0px 5px 0px;
    width: 125px;
    border: 1px solid #555555;
    text-decoration: none;
}

.cartbutton:hover {
    color: #555555;
    background-color: #EBF1FF;
    text-decoration: none;
    cursor: default;
}

/* +------------------------------------------------------------+ */
/* | System Required Classes: Misc                              | */
/* +------------------------------------------------------------+ */

.clearboth {
    clear: both;
}

.outstock {
    color: #FF0000;
}

a.hrefbutton {
    color: #555555;
    background-color: #DEDEDE;
    padding: 2px 5px 2px 5px;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    display: block;
    border: 1px solid #555555;
    text-decoration: none;
}

a.hrefbutton:hover {
    color: #555555;
    background-color: #EBF1FF;
    text-decoration: none;
    cursor: default;
}

.outline {
    border: 1px solid #999999;
    padding: 5px;
    margin-top: 5px;
}

.outline p {
    margin: 0px 0px 3px 0px;
}

/* +------------------------------------------------------------+ */
/* | End                                                        | */
/* +------------------------------------------------------------+ */